.signup-modal-card {
  text-align: center;
  background: #f4d8cd;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
}

.signup-field {
  background: #fbf2ee;
  font-size: 16px;
  padding: 4px;
  margin: 8px;
}

@media (min-width: 768px) {
  .signup-modal-card {
    margin: 0;
  }
  .signup-field {
    padding: 16px;
    margin: 4px;
  }
}
