a {
  text-decoration: none;
  color: inherit;
}

.page {
  width: 95%;
}

@media (min-width: 768px) {
  .page {
    width: 50%;
  }
}

.name {
  font-size: x-large;
  margin: 2rem;
  font-weight: 600;
}

.btns {
  bottom: 0;
  margin-top: 5rem;
}

.descriptor {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
}

.closing {
  color: white;
  margin: auto;
  margin-top: 32px;
}

.place-bubble {
  border-radius: 5% / 5%;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px;
}

.place-details {
  color: white;
}

.category-list {
  margin-top: 16px;
}

.nav-btn-drawer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dir-btns {
  display: flex;
  margin: auto;
  margin-top: 64px;
  justify-content: space-around;
}
