.btn-go {
  display: inline-block;
  margin: 2rem;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  padding: 10px 12px;
  width: 80%;
  font-size: 1.4rem;
  border-radius: 3px;
  border: 1px solid transparent;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 2px;
}

.google {
  background-color: rgb(60, 186, 84);
}

.apple {
  background-color: rgb(50, 173, 230);
}
