body {
  background: black;
}

.container {
  padding: 32px 0;
  margin: auto;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

.top {
  padding: 0;
}

.top-btns {
  width: 75%;
}

.home-intro {
  margin: 0 0 64px 0;
}

.logged-in-btn {
  margin: auto;
}

@media (min-width: 768px) {
  .top-btns {
    width: 50%;
  }
  .logged-in-btn {
    width: 30%;
  }
}
