.login-modal-card {
  height: 60vh;
  width: 40vw;
  margin: 1rem;
  background: white;
  text-align: center;
  border: 1px solid #eaeaea;
  background: #f4d8cd;
}

input {
  font-size: 16px;
  padding: 0.5rem;
  margin: 0.5rem;
  background: #FBF2EE;
}

@media (max-width: 768px) {
  .login-modal-card {
    width: 80vw;
    height: 60vh;
    margin: 0;
  }
}
