.card-list {
  display: flex;
}

.option-list {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.one-result {
  width: 65%;
}

@media (min-width: 768px) {
  .one-result {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .option-list {
    flex-direction: row;
    width: 50%;
  }
}

.title {
  text-align: center;
  font-size: x-large;
  margin: auto;
  margin-bottom: 8px;
  color: white;
}

@media (min-width: 768px) {
  .title {
    margin: 2rem;
  }
}

.options-back-btn {
  margin-bottom: 3rem;
}
